{{#> base title="Home page" }}
  {{#*inline "content-block"}}
    <div>Hello world</div>
  {{/inline}}

  {{#*inline "scripts-block"}}
    <script>
      // custom script goes here
      console.log('hello world')
    </script>
  {{/inline}}
{{/base}}