<header>
  <h1 class="logo">Test</h1>
  <nav class="navigation">
    {{#each nav_menu}}
    <ul>
      <li>
        <a href="{{link}}">{{title}}</a>
      </li>
    </ul>
    {{/each}}
  </nav>
</header>